@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap");
html {
  --parent-height: 20em ;
  --duration: 1s ;
  --duration-text-wrap: 12s 1.5s cubic-bezier(0.82, 0.82, 1, 1.01) ;
  --cubic-header: var(--duration) cubic-bezier(0.71, 0.21, 0.3, 0.95) ;
  --cubic-slider: var(--duration) cubic-bezier(0.4, 0, 0.2, 1) ;
  --cubic-play-list: .35s var(--duration) cubic-bezier(0, 0.85, 0.11, 1.64) ;
  --cubic-slider-context: cubic-bezier(1, -0.01, 1, 1.01) ;
}

.player-container {
  margin: 0;
  height: 86vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e5e7e9;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color var(--cubic-slider);
  transition: background-color var(--cubic-slider);
}

.img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.uppercase {
  text-transform: uppercase;
}

.player {
  width: 17.15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: 1.22em;
  border-radius: 1.35em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  height: var(--parent-height);
}

.player__header {
  z-index: 1;
  gap: 0 .4em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.85em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: white;
  padding: .95em 0.6em 0 1.2em;
  -webkit-box-shadow: 0 2px 6px 1px #0000001f;
          box-shadow: 0 2px 6px 1px #0000001f;
  -webkit-transition: height var(--cubic-header), padding var(--duration) ease-in-out, -webkit-box-shadow var(--duration);
  transition: height var(--cubic-header), padding var(--duration) ease-in-out, -webkit-box-shadow var(--duration);
  transition: height var(--cubic-header), box-shadow var(--duration), padding var(--duration) ease-in-out;
  transition: height var(--cubic-header), box-shadow var(--duration), padding var(--duration) ease-in-out, -webkit-box-shadow var(--duration);
}

.player__header.open-header {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.player__img {
  width: 3.22em;
  height: 3.22em;
  border-radius: 1.32em;
}

.player__img--absolute {
  top: 1.4em;
  left: 1.2em;
  position: absolute;
}

.slider {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  -webkit-transition: width var(--cubic-header), height var(--cubic-header), top var(--cubic-header), left var(--cubic-header);
  transition: width var(--cubic-header), height var(--cubic-header), top var(--cubic-header), left var(--cubic-header);
}

.slider.open-slider {
  top: 0;
  left: 0;
  width: 100%;
  height: 14.6em;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  will-change: transform;
  -webkit-transition: -webkit-transform var(--cubic-slider);
  transition: -webkit-transform var(--cubic-slider);
  transition: transform var(--cubic-slider);
  transition: transform var(--cubic-slider), -webkit-transform var(--cubic-slider);
}

.slider__img {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.slider__name,
.slider__title {
  overflow: hidden;
  white-space: nowrap;
}

.text-wrap {
  display: block;
  white-space: pre;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: text-wrap var(--duration-text-wrap) infinite;
          animation: text-wrap var(--duration-text-wrap) infinite;
}

@-webkit-keyframes text-wrap {
  75% {
    -webkit-transform: translate3d(-51.5%, 0, 0);
            transform: translate3d(-51.5%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-51.5%, 0, 0);
            transform: translate3d(-51.5%, 0, 0);
  }
}

@keyframes text-wrap {
  75% {
    -webkit-transform: translate3d(-51.5%, 0, 0);
            transform: translate3d(-51.5%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-51.5%, 0, 0);
            transform: translate3d(-51.5%, 0, 0);
  }
}

.player__button {
  all: unset;
  z-index: 100;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.playlist {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform calc(var(--duration) / 2);
  transition: -webkit-transform calc(var(--duration) / 2);
  transition: transform calc(var(--duration) / 2);
  transition: transform calc(var(--duration) / 2), -webkit-transform calc(var(--duration) / 2);
}

.slider.open-slider .playlist {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform var(--cubic-play-list);
  transition: -webkit-transform var(--cubic-play-list);
  transition: transform var(--cubic-play-list);
  transition: transform var(--cubic-play-list), -webkit-transform var(--cubic-play-list);
}

.player__button--absolute--nw {
  top: 5.5%;
  left: 5.5%;
  position: absolute;
}

.player__button--absolute--center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

img[alt="pause-icon"] {
  display: none;
}

.player__controls {
  width: 77%;
  gap: .5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  will-change: contents;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: width var(--cubic-header), -webkit-transform var(--cubic-header);
  transition: width var(--cubic-header), -webkit-transform var(--cubic-header);
  transition: transform var(--cubic-header), width var(--cubic-header);
  transition: transform var(--cubic-header), width var(--cubic-header), -webkit-transform var(--cubic-header);
}

.player__controls.move {
  width: 88%;
  -webkit-transform: translate3d(-1.1em, calc(var(--parent-height) - 153%), 0);
          transform: translate3d(-1.1em, calc(var(--parent-height) - 153%), 0);
}

.player__context {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
}

.slider__context {
  width: 56.28%;
  cursor: pointer;
  text-align: center;
  padding-bottom: .2em;
  will-change: contents;
  -webkit-transition: width var(--cubic-header);
  transition: width var(--cubic-header);
  -webkit-animation: calc(var(--duration) / 2) var(--cubic-slider-context);
          animation: calc(var(--duration) / 2) var(--cubic-slider-context);
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

.player__controls.move .slider__context {
  width: 49.48%;
}

.player__title {
  font-size: .7em;
  font-weight: bold;
  color: #00000086;
}

.progres {
  width: 90%;
  height: .25em;
  cursor: pointer;
  border-radius: 1em;
  -ms-touch-action: none;
      touch-action: none;
  background-color: #e5e7ea;
  -webkit-transition: width var(--cubic-header);
  transition: width var(--cubic-header);
}

.player__controls.move .progres {
  width: 98%;
}

.progres__filled {
  width: 0%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: inherit;
  background-color: #78adfe;
}

.progres__filled::before {
  right: 0;
  width: .35em;
  content: " ";
  height: .35em;
  border-radius: 50%;
  position: absolute;
  background-color: #5781bd;
}

.player__playlist {
  height: 100%;
  overflow: auto;
  padding: 1.05em .9em 0 1.2em;
}

.player__playlist::-webkit-scrollbar {
  width: 0;
}

.player__song {
  /*     gap: 0 .65em ; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: .5em;
  padding-bottom: .7em;
  border-bottom: .1em solid #d8d8d859;
}

.player__song .player__context {
  line-height: 1.5;
  margin-left: .65em;
}

.player__song-name {
  font-size: .88em;
}

.player__song-time {
  font-size: .65em;
  font-weight: bold;
  color: #00000079;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.audio {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background: #090910;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #3E065F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  position: relative;
  height: 100px;
}

header img {
  width: 160px;
  height: 51px;
}

header ul {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  position: fixed;
  list-style: none;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  max-width: 211px;
  z-index: 100;
  background-color: #4b6587;
  padding: 20px 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header ul .logo-avatar {
  width: 100%;
  max-width: 212px;
  height: 40%;
}

header ul li {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 10px;
}

header ul li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

header ul li a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}

header .hamburger-menu-icon {
  position: absolute;
  right: 25px;
  background-color: #ff6701;
  padding: 10px 12px;
  border-radius: 10px;
}

header .hamburger-menu-icon i {
  color: #fcecdd;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.hamburger-menu.showed {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.banner {
  position: relative;
  width: 100%;
  min-height: 238px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/Tematicas_por_temporada/halloween_banner.jpg) no-repeat center center/cover;
  overflow: hidden;
}

.banner span {
  width: 8vmin;
  height: 8vmin;
  border-radius: 8vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.banner span:nth-child(1) {
  color: #583c87;
  top: 34%;
  left: 13%;
  -webkit-animation-duration: 14.9s;
          animation-duration: 14.9s;
  -webkit-animation-delay: -13.4s;
          animation-delay: -13.4s;
  -webkit-transform-origin: -5vw -1vh;
          transform-origin: -5vw -1vh;
  -webkit-box-shadow: 16vmin 0 2.83177vmin currentColor;
          box-shadow: 16vmin 0 2.83177vmin currentColor;
}

.banner span:nth-child(2) {
  color: #ffacac;
  top: 95%;
  left: 88%;
  -webkit-animation-duration: 14.6s;
          animation-duration: 14.6s;
  -webkit-animation-delay: -14.5s;
          animation-delay: -14.5s;
  -webkit-transform-origin: -3vw -24vh;
          transform-origin: -3vw -24vh;
  -webkit-box-shadow: 16vmin 0 4.76136vmin currentColor;
          box-shadow: 16vmin 0 4.76136vmin currentColor;
}

.banner span:nth-child(3) {
  color: #e45a84;
  top: 60%;
  left: 16%;
  -webkit-animation-duration: 11.9s;
          animation-duration: 11.9s;
  -webkit-animation-delay: -7.5s;
          animation-delay: -7.5s;
  -webkit-transform-origin: -23vw 13vh;
          transform-origin: -23vw 13vh;
  -webkit-box-shadow: 16vmin 0 5.55417vmin currentColor;
          box-shadow: 16vmin 0 5.55417vmin currentColor;
}

.banner span:nth-child(4) {
  color: #583c87;
  top: 67%;
  left: 12%;
  -webkit-animation-duration: 12.3s;
          animation-duration: 12.3s;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform-origin: -6vw -8vh;
          transform-origin: -6vw -8vh;
  -webkit-box-shadow: -16vmin 0 3.3237vmin currentColor;
          box-shadow: -16vmin 0 3.3237vmin currentColor;
}

.banner span:nth-child(5) {
  color: #ffacac;
  top: 51%;
  left: 9%;
  -webkit-animation-duration: 14.5s;
          animation-duration: 14.5s;
  -webkit-animation-delay: -8.3s;
          animation-delay: -8.3s;
  -webkit-transform-origin: 1vw 24vh;
          transform-origin: 1vw 24vh;
  -webkit-box-shadow: 16vmin 0 2.19854vmin currentColor;
          box-shadow: 16vmin 0 2.19854vmin currentColor;
}

.banner span:nth-child(6) {
  color: #e45a84;
  top: 76%;
  left: 62%;
  -webkit-animation-duration: 14.8s;
          animation-duration: 14.8s;
  -webkit-animation-delay: -15.9s;
          animation-delay: -15.9s;
  -webkit-transform-origin: 17vw -8vh;
          transform-origin: 17vw -8vh;
  -webkit-box-shadow: -16vmin 0 3.26036vmin currentColor;
          box-shadow: -16vmin 0 3.26036vmin currentColor;
}

.banner span:nth-child(7) {
  color: #583c87;
  top: 11%;
  left: 98%;
  -webkit-animation-duration: 15.9s;
          animation-duration: 15.9s;
  -webkit-animation-delay: -13.4s;
          animation-delay: -13.4s;
  -webkit-transform-origin: -18vw -11vh;
          transform-origin: -18vw -11vh;
  -webkit-box-shadow: -16vmin 0 4.14612vmin currentColor;
          box-shadow: -16vmin 0 4.14612vmin currentColor;
}

.banner span:nth-child(8) {
  color: #583c87;
  top: 37%;
  left: 100%;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: -13.4s;
          animation-delay: -13.4s;
  -webkit-transform-origin: 10vw -5vh;
          transform-origin: 10vw -5vh;
  -webkit-box-shadow: 16vmin 0 4.48837vmin currentColor;
          box-shadow: 16vmin 0 4.48837vmin currentColor;
}

.banner span:nth-child(9) {
  color: #ffacac;
  top: 14%;
  left: 69%;
  -webkit-animation-duration: 15.4s;
          animation-duration: 15.4s;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  -webkit-transform-origin: -5vw 6vh;
          transform-origin: -5vw 6vh;
  -webkit-box-shadow: 16vmin 0 2.64066vmin currentColor;
          box-shadow: 16vmin 0 2.64066vmin currentColor;
}

.banner span:nth-child(10) {
  color: #ffacac;
  top: 17%;
  left: 71%;
  -webkit-animation-duration: 13.3s;
          animation-duration: 13.3s;
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
  -webkit-transform-origin: -1vw -12vh;
          transform-origin: -1vw -12vh;
  -webkit-box-shadow: -16vmin 0 2.46808vmin currentColor;
          box-shadow: -16vmin 0 2.46808vmin currentColor;
}

.banner span:nth-child(11) {
  color: #583c87;
  top: 85%;
  left: 74%;
  -webkit-animation-duration: 15.5s;
          animation-duration: 15.5s;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
  -webkit-transform-origin: 11vw 1vh;
          transform-origin: 11vw 1vh;
  -webkit-box-shadow: -16vmin 0 2.66117vmin currentColor;
          box-shadow: -16vmin 0 2.66117vmin currentColor;
}

.banner span:nth-child(12) {
  color: #583c87;
  top: 94%;
  left: 36%;
  -webkit-animation-duration: 12.1s;
          animation-duration: 12.1s;
  -webkit-animation-delay: -5.9s;
          animation-delay: -5.9s;
  -webkit-transform-origin: 4vw 19vh;
          transform-origin: 4vw 19vh;
  -webkit-box-shadow: 16vmin 0 5.08847vmin currentColor;
          box-shadow: 16vmin 0 5.08847vmin currentColor;
}

.banner span:nth-child(13) {
  color: #583c87;
  top: 71%;
  left: 86%;
  -webkit-animation-duration: 12.7s;
          animation-duration: 12.7s;
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
  -webkit-transform-origin: -23vw -19vh;
          transform-origin: -23vw -19vh;
  -webkit-box-shadow: 16vmin 0 3.99459vmin currentColor;
          box-shadow: 16vmin 0 3.99459vmin currentColor;
}

.banner span:nth-child(14) {
  color: #e45a84;
  top: 64%;
  left: 64%;
  -webkit-animation-duration: 15.6s;
          animation-duration: 15.6s;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform-origin: 7vw 21vh;
          transform-origin: 7vw 21vh;
  -webkit-box-shadow: -16vmin 0 3.51801vmin currentColor;
          box-shadow: -16vmin 0 3.51801vmin currentColor;
}

.banner span:nth-child(15) {
  color: #583c87;
  top: 29%;
  left: 19%;
  -webkit-animation-duration: 10.9s;
          animation-duration: 10.9s;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform-origin: 6vw -16vh;
          transform-origin: 6vw -16vh;
  -webkit-box-shadow: -16vmin 0 5.0284vmin currentColor;
          box-shadow: -16vmin 0 5.0284vmin currentColor;
}

.banner span:nth-child(16) {
  color: #e45a84;
  top: 86%;
  left: 25%;
  -webkit-animation-duration: 12.1s;
          animation-duration: 12.1s;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  -webkit-transform-origin: 1vw 6vh;
          transform-origin: 1vw 6vh;
  -webkit-box-shadow: -16vmin 0 2.74426vmin currentColor;
          box-shadow: -16vmin 0 2.74426vmin currentColor;
}

.banner span:nth-child(17) {
  color: #ffacac;
  top: 29%;
  left: 66%;
  -webkit-animation-duration: 14.1s;
          animation-duration: 14.1s;
  -webkit-animation-delay: -14.5s;
          animation-delay: -14.5s;
  -webkit-transform-origin: 3vw -2vh;
          transform-origin: 3vw -2vh;
  -webkit-box-shadow: -16vmin 0 5.20783vmin currentColor;
          box-shadow: -16vmin 0 5.20783vmin currentColor;
}

.banner span:nth-child(18) {
  color: #ffacac;
  top: 13%;
  left: 74%;
  -webkit-animation-duration: 15.1s;
          animation-duration: 15.1s;
  -webkit-animation-delay: -3.9s;
          animation-delay: -3.9s;
  -webkit-transform-origin: 0vw -11vh;
          transform-origin: 0vw -11vh;
  -webkit-box-shadow: 16vmin 0 2.68576vmin currentColor;
          box-shadow: 16vmin 0 2.68576vmin currentColor;
}

.banner span:nth-child(19) {
  color: #ffacac;
  top: 94%;
  left: 44%;
  -webkit-animation-duration: 15.6s;
          animation-duration: 15.6s;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform-origin: -16vw 14vh;
          transform-origin: -16vw 14vh;
  -webkit-box-shadow: 16vmin 0 3.43091vmin currentColor;
          box-shadow: 16vmin 0 3.43091vmin currentColor;
}

.banner span:nth-child(20) {
  color: #e45a84;
  top: 63%;
  left: 40%;
  -webkit-animation-duration: 12.4s;
          animation-duration: 12.4s;
  -webkit-animation-delay: -6.1s;
          animation-delay: -6.1s;
  -webkit-transform-origin: 5vw 8vh;
          transform-origin: 5vw 8vh;
  -webkit-box-shadow: 16vmin 0 2.50789vmin currentColor;
          box-shadow: 16vmin 0 2.50789vmin currentColor;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.banner .banner-text {
  text-align: center;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  z-index: 2;
  text-shadow: 0px 0px 5px #000000;
  font-size: 0.9em;
}

.banner .banner-text h1 {
  margin-bottom: 15px;
}

.weekly-recommendations {
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}

.weekly-recommendations h2 {
  margin-bottom: 20px;
}

.recomends-logo {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 90%;
  max-width: 390px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 5px #ddd;
          box-shadow: 0px 0px 5px 5px #ddd;
}

.swiper-button-prev {
  opacity: 40%;
}

.swiper-button-next {
  opacity: 40%;
}

.advice-new-users {
  margin-bottom: 50px;
  color: #fff;
}

.advice-new-users h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 30px;
}

.advice-new-users .advices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  gap: 40px;
}

.advice-new-users .advices .advice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 15px;
}

.advice-new-users .advices .advice h2 {
  margin-bottom: 30px;
  font-size: 1.3em;
  text-align: center;
}

.advice-new-users .advices .advice p {
  font-size: 1.3em;
  text-align: justify;
}

.advice-new-users .advices .advice img {
  width: 80%;
}

.ayudanos-mejorar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

.ayudanos-mejorar iframe {
  width: 100%;
  height: 600px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #191A19;
  -webkit-box-shadow: 0px -12px 9px 0px #242323;
          box-shadow: 0px -12px 9px 0px #242323;
  padding: 20px;
  margin-top: 50px;
}

footer .wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper-footer .icons-footer {
  margin-bottom: 10px;
}

footer .wrapper-footer .icons-footer a {
  text-decoration: none;
  color: #867ae9;
  font-size: 1.5em;
  margin: 0 5px;
}

footer .wrapper-footer p {
  color: #867ae9;
}

.recomendations {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}

.recomendations .recomendation-card {
  background: #eeaeca;
  background: -webkit-gradient(linear, left top, right top, from(#eeaeca), to(#94bbe9));
  background: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  max-width: 417px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  padding: 10px;
}

.recomendations .recomendation-card img {
  width: 40%;
  height: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
}

.recomendations .recomendation-card h2 {
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.recomendations .recomendation-card h2 a {
  color: #000000;
}

.recomendations .recomendation-card h2 a:visited {
  color: #000000;
}

.recomendations .recomendation-card p {
  text-align: justify;
  line-height: 1.5em;
}

:root {
  font-size: 16px;
  --card-img-height: 200px;
}

.card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  width: 325px;
  min-width: 275px;
  min-height: 430px;
  margin: 1.25rem 0.75rem;
  background: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.card .card-img {
  visibility: hidden;
  width: 100%;
  height: var(--card-img-height);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card .card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: var(--card-img-height);
  top: 0;
}

.card .card-info {
  position: relative;
  padding: 0.75rem 1.25rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card .card-info .card-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card .card-info .card-about .card-tag {
  width: 60px;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #505f79;
  color: #fff;
}

.card .card-info .card-about .card-tag.tag-news {
  background: #36b37e;
}

.card .card-info .card-about .card-tag.tag-deals {
  background: #ffab00;
}

.card .card-info .card-about .card-tag.tag-politics {
  width: 71px;
  background: #ff5630;
}

.card .card-info .card-title {
  z-index: 10;
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.card .card-info .card-creator {
  padding-bottom: 0.75rem;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.card:hover .card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.65)
      );
  height: 100%;
}

.card:hover .card-about,
.card:hover .card-creator {
  opacity: 0;
}

.card:hover .card-info {
  background-color: transparent;
}

.card:hover .card-title {
  color: #ebecf0;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
}

.card-1 .card-img,
.card-1 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Fujianimation_y_el_anime_ilegal.jpg);
}

.card-2 .card-img,
.card-2 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/La_película_de_Boku_no_Hero_Academia_vuelve_a_dominar_en_ganancias_semanales_en_Japón.png);
}

.card-3 .card-img,
.card-3 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/rent_a_girlfriend_videogame_smartphones_banner.png);
}

.card-4 .card-img,
.card-4 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/portada_macross-delta.png);
}

.card-5 .card-img,
.card-5 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Revelan_el_ending_de_Muhyo_to_Roji_no_Mahōritsu_Sōdan_Jimusho.png);
}

.card-6 .card-img,
.card-6 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Evangelion_rompe_el_récord_de_espectadores_en_Amazon_Prime_Video_en_Japón.jpg);
}

.card-7 .card-img,
.card-7 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Kadokawa_apunta_a_producir_más_de_40_animes_al_año.jpg);
}

.card-8 .card-img,
.card-8 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Creador_de_One_Piece_confirma_que_el_manga_esta_llegando_a_la_fase_final_banner.jpg);
}

.card-9 .card-img,
.card-9 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Chainsaw_Man_obtuvo_el_galardon.png);
}

.card-10 .card-img,
.card-10 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/manga_de_Iron_Man_y_Spiderman.png);
}

.card-11 .card-img,
.card-11 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Fate_Stay_Night_celebraron_el_Dia_de_Shirou.png);
}

.card-12 .card-img,
.card-12 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/seiken_gakuin_no_maken_tsukai-card-image.png);
}

.card-13 .card-img,
.card-13 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/hetalia_world_tendra_12caps.png);
}

.card-14 .card-img,
.card-14 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/como_leer_manga_tokyoRevenger_post_anime.jpg);
}

.card-15 .card-img,
.card-15 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Kaijin_Kaihatsubu_no_Kuroitsu-san_revela_nuevo_visual.jpg);
}

.card-16 .card-img,
.card-16 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/rent_a_girlfriend_ranking.jpg);
}

.card-17 .card-img,
.card-17 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/portada_peter-grill-10.webp);
}

.card-18 .card-img,
.card-18 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/portada_naruto-13.jpg);
}

.card-19 .card-img,
.card-19 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Geshin_impact_mona_magestus_portada.webp);
}

.card-20 .card-img,
.card-20 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/portada_shachiku-san-wa-youjo-3.webp);
}

.card-21 .card-img,
.card-21 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/NETFLIX_elenco_one_piece.jpg);
}

.card-22 .card-img,
.card-22 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Slime_Taoshite_new_image.png);
}

.card-23 .card-img,
.card-23 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/boku_no_hero_academia.jpg);
}

.card-24 .card-img,
.card-24 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/Se_habría_filtrado_la_pre-selección_de_actores_de_voz_del_anime_Chainsaw_Man.jpg);
}

.card-25 .card-img,
.card-25 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url(../images/news-images/portada_shingeki-107.webp);
}

.img-new {
  width: 100%;
  min-height: 332px;
  -webkit-box-shadow: inset 10px 0px 75px 35px rgba(0, 0, 0, 0.9);
          box-shadow: inset 10px 0px 75px 35px rgba(0, 0, 0, 0.9);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-new .text-banner {
  border-left: solid 3px #ff6701;
  margin-left: 15px;
  padding-left: 30px;
}

.img-new .text-banner .category-new {
  margin-bottom: 20px;
  background: #28ffbf;
  text-align: center;
  width: 90px;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  text-shadow: 0px 0px 5px #000000;
}

.img-new .text-banner h1 {
  margin-bottom: 20px;
  text-shadow: 0px 0px 5px #000000;
}

.img-new .text-banner .author-date .author {
  margin-right: 18px;
}

.img-new .text-banner .author-date .author i {
  margin-right: 9px;
}

.img-new .text-banner .author-date .date i {
  margin-right: 9px;
}

.wrapper-notice {
  padding: 30px 15px 0px 15px;
}

.wrapper-notice .new-text {
  line-height: 25px;
  color: #ddd;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.8em;
}

.wrapper-notice .tweet-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-notice ul {
  color: #ddd;
  padding-left: 20px;
  font-size: 25px;
  margin-bottom: 20px;
}

.wrapper-notice ul li {
  line-height: 1.5em;
}

.wrapper-notice img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}

.wrapper-notice iframe {
  width: 100%;
  max-width: 600px;
  height: 350px;
}

.animes .wrapper {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animes .wrapper .card-anime {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 440px;
  background: #fff;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  margin: 15px 10px;
  position: relative;
}

.animes .wrapper .card-anime:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.animes .wrapper .card-anime:hover .descriptions {
  left: 0px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}

.animes .wrapper .card-anime:hover img {
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: scale(1.6) rotate(20deg);
          transform: scale(1.6) rotate(20deg);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.animes .wrapper .card-anime img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.animes .wrapper .card-anime .descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
}

.animes .wrapper .card-anime .descriptions h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}

.animes .wrapper .card-anime .descriptions p {
  height: 70%;
  margin-top: 10px;
}

.animes .wrapper .card-anime .descriptions button {
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.animes .wrapper .card-anime .descriptions button:hover {
  -webkit-transform: scale(0.95) translateX(-5px);
          transform: scale(0.95) translateX(-5px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.animes .wrapper .card-anime .descriptions button a {
  text-decoration: none;
  color: #fff;
}

@-webkit-keyframes youtubeAnim {
  0%,
  100% {
    color: #c9110f;
  }
  50% {
    color: #ff0000;
  }
}

@keyframes youtubeAnim {
  0%,
  100% {
    color: #c9110f;
  }
  50% {
    color: #ff0000;
  }
}

.redes-sociales {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.redes-sociales .cards-socials {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.redes-sociales .cards-socials h1 {
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.redes-sociales .cards-socials .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes-sociales .cards-socials .services .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.redes-sociales .cards-socials .services .content .fab {
  font-size: 70px;
  margin: 16px 0;
}

.redes-sociales .cards-socials .services .content .fas {
  font-size: 70px;
  margin: 16px 0;
}

.redes-sociales .cards-socials .services .content h2 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.redes-sociales .cards-socials .services .content p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.redes-sociales .cards-socials .services .content a {
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.redes-sociales .cards-socials .services .content a:hover {
  border-radius: 4px;
}

.redes-sociales .cards-socials .services .content * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.redes-sociales .cards-socials .services .content:hover {
  color: white;
}

.redes-sociales .cards-socials .services .content:hover a {
  border-color: white;
  background: white;
}

.redes-sociales .cards-socials .services .content-1:hover {
  border-color: #4267b2;
  background: #4267b2;
}

.redes-sociales .cards-socials .services .content-1:hover a {
  color: #4267b2;
}

.redes-sociales .cards-socials .services .content-2:hover {
  border-color: #f57d00;
  background: #f57d00;
}

.redes-sociales .cards-socials .services .content-2:hover a {
  color: #f57d00;
}

.redes-sociales .cards-socials .services .content-3:hover {
  border-color: #f09433;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.redes-sociales .cards-socials .services .content-3:hover a {
  color: #f09433;
}

@media screen and (min-width: 400px) {
  .wrapper-notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper-notice img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 600px) {
  .wrapper-notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper-notice iframe {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .ayudanos-mejorar iframe {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-text {
    padding: 0 50px;
  }
}

@media screen and (min-width: 1024px) {
  header img {
    cursor: pointer;
  }
  header ul {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    max-width: none;
    z-index: 0;
    background-color: transparent;
  }
  header ul .logo-avatar {
    display: none;
  }
  header ul li {
    width: auto;
    text-align: center;
    margin: 0 20px;
    padding: 0;
    font-size: 1.1em;
  }
  header ul li a {
    -webkit-transition: border 0.2s ease-in;
    transition: border 0.2s ease-in;
    padding: 5px;
    border-radius: 5px;
  }
  header ul li a:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#082032), color-stop(49%, #2c394b), color-stop(80%, #334756), to(#3E065F));
    background-image: linear-gradient(90deg, #082032 0%, #2c394b 49%, #334756 80%, #3E065F 100%);
    -webkit-animation: slidebg 5s linear infinite;
            animation: slidebg 5s linear infinite;
  }
  header .hamburger-menu-icon {
    display: none;
  }
  .banner-text {
    padding: 0;
    font-size: 1.5em;
  }
  .banner-text h1 {
    margin-bottom: 15px;
  }
  .weekly-recommendations h2 {
    font-size: 2em;
  }
  .ayudanos-mejorar iframe {
    width: 50%;
  }
  .advice-new-users h1 {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 30px;
  }
  .advice-new-users .advices {
    padding: 0 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px;
  }
  .advice-new-users .advices .advice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0 15px;
  }
  .advice-new-users .advices .advice h2 {
    margin-bottom: 30px;
    font-size: 1.8em;
    text-align: center;
  }
  .advice-new-users .advices .advice p {
    font-size: 1.3em;
    text-align: justify;
  }
  .advice-new-users .advices .advice img {
    width: 60%;
  }
  .recomendations {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .recomendations .recomendation-card {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    max-width: none;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recomendations .recomendation-card img {
    width: 40%;
    height: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 50%;
  }
  .recomendations .recomendation-card h2 {
    margin-bottom: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .recomendations .recomendation-card h2 a:visited {
    color: #000000;
  }
  .recomendations .recomendation-card p {
    text-align: justify;
    line-height: 1.5em;
  }
  @-webkit-keyframes slidebg {
    to {
      background-position: 20vw;
    }
  }
  @keyframes slidebg {
    to {
      background-position: 20vw;
    }
  }
  .animes {
    margin: 0 30px;
  }
  .animes .wrapper {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .swiper-slide {
    cursor: -webkit-grab;
    cursor: grab;
  }
}
/*# sourceMappingURL=styles.css.map */
